
* {
  box-sizing:border-box;
}
.body{
	position: fixed;
	width: 70%;
	height:80%;
	left:0;
	background-color: #4D65FF;
}
.bottom{
	position: fixed;
	width: 70%;
	height:20%;
	bottom: 0;
	left: 0;
	background-color:#4d65ff;
}
.right{
	position: fixed;
	right: 0;
	width:30%;
	height:32%;
	background-color:#e8e8e8;
}
.rightMid{
	position: fixed;
	top: 32%;
	width:30%;
	height: 35%;
	background-color:#e8e8e8;
	right: 0;
}
.rightBottom{
	position: fixed;
	width:30%;
	height:33%;
	right: 0;
	bottom:0;
	background-color:#e8e8e8;
}
.hava{
		position: fixed;
	width:30%;
	height:26%;
	right: 0;
	bottom:0;
	background-color:#565654;
}
.saat{
	position: fixed;
	width:15%;
	height:26%;
	right: 0;
	bottom:0;
	background-color:#565654;
	
}
.mySlides{
  position: relative;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 4px 4px rgba(0,0,0,.15);
  transition: all .4s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 8px;
  height: auto;
}
#mySlides:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
.baslik{
	font-family: sans-serif;
	font-size: 18px;
}
.ders{
	font-family: sans-serif;
	font-size:1.4vw;
	color:#2f2e3c;
}
.etkinlik{
	font-family: sans-serif;
	font-size:1.4vw;
	color:#2f2e3c;
}
.duyuru {
	font-family: sans-serif;
	font-size: 1.4vw;
	color:white;
}
p{
	font-family: Nexa Bold;
	font-size: 25px;
}
@media only screen and (max-width:800px) {
  /* For mobile phones: */
  .body1,.rightMid, .rightBottom,.bottom, .right {
    width:100%;

  }